.todo-app {
  flex-direction: column;
  display: flex;
  text-align: center;
  gap: 20px;
}

.todo-button {
  margin-left: 10px;
}

.todo-row {
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 5px;
  display:inline-flex;
}

.delete-icon {
  margin-right: 5px;
  color: rgb(189, 34, 20);
}

.edit-icon {
  color: rgb(30, 33, 223);
}